/* All */

/* Just */
.form-control {
    color: black;
    padding: 10px 20px;
}

.error {
    text-align: center;
}

.tit-feild {
    margin-bottom: 20px;
}

.bod-feild {
    margin-bottom: 10px;
}


/* Hover */
.form-control:hover {
    border-color: #017bff;
    color: black;
}

.form-control:hover::-webkit-input-placeholder {
    color: #017bff;
}


/* Focus */
.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus::-webkit-input-placeholder {
    color: #017bff;
}

.form-control:focus {
    color: black;
    outline: none;
    box-shadow: none;
}



/* Components */

/* Post */
.post-card {
    margin: 20px 0;
}

.delete-btn {
    float: right;
}

.edit-btn {
    float: right;
    margin-right: 15px;
}

/* PostsList */
.posts {
    margin-left: 30px;
    margin-right: 30px;
}


/* PostDetail */
.post-title-div {
    margin-bottom: 50px;
}

.content-box {
    background-color: #f8f9fa;
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
}


/* Create */
.create-form {
    margin: 50px auto;
    width: 900px;
}


/* App */
.no-posts {
    text-align: center;
    color: #aaa;
    margin-top: 70px;
}


/* Edit */
.edit-form {
    margin: 50px auto;
    width: 900px;
}
