/* All */

/* Just */
html, body, #root {
    height: 100%;
}

.form-control {
    color: black;
    padding: 10px 20px;
}

.error {
    text-align: center;
}

.tit-feild {
    margin-bottom: 20px;
}

.bod-feild {
    margin-bottom: 10px;
}

.login-field {
    margin-bottom: 15px;
}

.pass2-field {
    margin-bottom: 20px;
}

.tag-feild {
    margin-bottom: 20px;
}

.spinner {
    display: block;
    margin: 300px auto;
}

.no-posts {
    text-align: center;
    color: #aaa;
    margin-top: 70px;
}


/* Hover */
.form-control:hover {
    border-color: #017bff;
    color: black;
}

.form-control:hover::-webkit-input-placeholder {
    color: #017bff;
}


/* Focus */
.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus::-webkit-input-placeholder {
    color: #017bff;
}

.form-control:focus {
    color: black;
    outline: none;
    box-shadow: none;
}

input {
    outline: none;
}



/* Components */

/* Post */
.post-card {
    margin: 30px 0;
}

.delete-btn {
    float: right;
}

.edit-btn {
    float: right;
    margin-right: 15px;
}

.red {
    border-color: #F9350B;
}

.red:hover {
    border-color: #F9350B;
}

.red:hover::-webkit-input-placeholder {
    color: #F9350B;
}

.red:focus::-webkit-input-placeholder {
    color: #F9350B;
}


/* PostsList */
.posts {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 90px;
}

.found-posts {
    text-align: center;
    color: #aaa;
}


/* PostDetail */
.PostDetail {
    height: 100%;
}

.post-title-div {

}

.post-body-div {
    flex-grow: 1;
}

.post-tags-div {
    margin-bottom: 50px;
    color: #777;
}

.content-box {
    display: flex;
    background-color: #f8f9fa;
    width: 900px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 10px 20px;
    min-height: 100%;
    flex-direction: column;
}


/* Create */
.create-form {
    margin: 50px auto;
    width: 900px;
    margin-top: 90px;
}


/* Edit */
.edit-form {
    margin: 50px auto;
    width: 900px;
    margin-top: 90px;
}


/* Header */
.head-nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.counter-posts {
    font-size: 17px;
    margin-right: auto;
    color: #777;
}

.user_logo {
    background-position: center;
    border: 5px solid #f8f9fa;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 15px;
    margin-right: 5px
}

.user_logo:hover {
	background-color: #ddd;
    border-color: #ddd;
}


/* Tags */
.Tags {
    height: 100%;
}

.tags-list {
    width: 600px;
    background-color: #f8f9fa;
    min-height: 100%;
    margin: 20px auto;
    padding: 20px 40px;
    margin-top: 90px;
}


/* AuthoPage */
.autho-content {
    width: 500px;
    margin: 180px auto;
}

.autho-btns {
    width: 200px;
    margin: 15px auto;
}

.register {
    margin-left: 15px;
}

.choose {
    text-align: center;
    font-family: lato;
    font-weight: 400;
    font-size: 55px;
}


/* Register */
.register-content {
    margin: 50px auto;
    width: 500px;
    margin-top: 90px;
}

.email-field {
    margin-bottom: 15px;
}

.pass1-field {
    margin-bottom: 15px;
}

.register-errors {
    color: red;
    margin-left: 15px;
    margin-top: 5px;
}

.register-errors-and-button {
    display: flex;
}


/* LogIn */
.login-content {
    margin: 50px auto;
    width: 500px;
    margin-top: 90px;
}

.login-errors {
    color: red;
    margin-left: 15px;
    margin-top: 5px;
}

.login-errors-and-button {
    display: flex;
}


/* UserInfo */
.UserInfo {
    overflow-y: hidden;
}

.user-info {
    display: flex;
    width: 900px;
    background-color: #f8f9fa;
    margin: 0 auto;
    margin-top: 90px;
}

.user-info-content {
    margin-left: 100px;
    flex-grow: 1;
}

.user-photo {
    width: 300px;
    height: 300px;
    background-color: gray;
}

.user-edit {
    margin-top: 10px;
    width: 300px;
}

.user-edit-photo {
    margin-top: 10px;
    width: 300px;
}

.user-exit {
    margin-top: 10px;
    width: 300px;
}

.user-info-profile {
    display: flex;
}

.users-val {
    margin-left: 40px;
}

.user-input {
    background-color: rgba(250, 250, 250, 0);
    border: 0;
    border-bottom: 1px solid gray;
    width: 280px;
}

.user-input:focus {
    outline: none;
    border-bottom: 1px solid #017bff;
}

.user-input:focus::-webkit-input-placeholder {
  color: #017bff;
}

.user-photo-and-btns {
}

.user-photo-input {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 3px;
    padding-right: 90px;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: .25rem;
    height: 38px;
    transition: background-color 0.18s linear 0s;
    width: 300px;
    margin-top: 10px;
}

.user-photo-input:hover {
    background-color: #007bff;
    color: white;
    border-radius: .25rem;
    height: 38px;
    cursor: pointer;
    transition: background-color 0.18s linear 0s;
}

.user-photo-img {
    width: 100%;
    height: 100%;
}

.user-photo-input::-webkit-file-upload-button {
    visibility: hidden;
}
